:host {
    background: green;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Kakapo_Sirocco_1.jpg/1024px-Kakapo_Sirocco_1.jpg);
    background-size: cover;
    background-position: center center;
  
    h1 {
      position: absolute;
      width: 100%;
      bottom: 20px;
      text-align: center;
      color: white;
      text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
      font-size: 7vh;
    }
  }