:host {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  
    a {
      padding: 5px 10px;
      color: rgba(255,255,255,0.8);
  
      &:hover {
        background: rgba(0,0,0,0.5);
        color: white;
      }
    }
  }