:host {
    background-color: grey;
    background-image: url(https://c1.staticflickr.com/9/8055/8148354711_1fc84693ae_b.jpg);
    background-size: cover;
    background-position: center center;
  
    h1 {
      position: absolute;
      width: 100%;
      bottom: 20px;
      text-align: center;
      color: white;
      text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
      font-size: 7vh;
    }
  }