:host {

    display: flex;
    overflow: hidden;
    height: 100vh;
  
    app-nav-bar {
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  
    main {
      flex: 1;
      position: relative;
    }
  
    ::ng-deep router-outlet ~ * {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  
  }